In [17]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [15]:
import pandas as pd

In [16]:
index = [1, 2, 3]
names = ['Nourah', 'Sarah', 'Ahmed']

series=pd.Series(names, index=index)
series

1    Nourah
2     Sarah
3     Ahmed
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [35]:
index = [11, 12, 13]
names = ['Nourah', 'Sarah', 'Ahmed']

s1 = pd.Series(names, index=index)
s1

11    Nourah
12     Sarah
13     Ahmed
dtype: object

## Q3: Retrieve First and second elements.

In [36]:
first_element = series[11]
second_element = series[12]

print("First element:", first_element)
print("Second element:", second_element)

First element: Nourah
Second element: Sarah

## Q4: Add duplicate elements, then remove the duplication.

In [1]:
s1=pd.Series({14,Sarah})
s1

NameError: name 'pd' is not defined

In [2]:
s2=pd.conact((s,s1))
s2

NameError: name 'pd' is not defined

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [24]:
 data = {
    'ID': [1, 2, 3],
    'Name': ['Majed', 'Lama', 'Noura'],
    'GPA': [3.8, 3.9, 3.5]
}

students_df = pd.DataFrame(data)
print(students_df)

   ID   Name  GPA
0   1  Majed  3.8
1   2   Lama  3.9
2   3  Noura  3.5

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [25]:
df = pd.read_csv('educ_figdp_1_Data.csv')
print(df.head())

   TIME                            GEO  \
0  2000  European Union (28 countries)
1  2001  European Union (28 countries)
2  2002  European Union (28 countries)
3  2003  European Union (28 countries)
4  2004  European Union (28 countries)

                                            INDIC_ED Value Flag and Footnotes
0  Total public expenditure on education as % of ...     :                NaN
1  Total public expenditure on education as % of ...     :                NaN
2  Total public expenditure on education as % of ...  5.00                  e
3  Total public expenditure on education as % of ...  5.03                  e
4  Total public expenditure on education as % of ...  4.95                  e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [27]:
data = {
    'A': [10, 20, 30, 40, 50],
    'B': [1, 2, 3, 4, 5],
    'C': ['a', 'b', 'c', 'd', 'e']
}

df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4', 'row5'])


print(df.loc['row2':'row4'])

# Using slicing to retrieve rows by position
print(df[1:4])

# Using loc to retrieve specific cells
print(df.loc['row3', 'B'])

# Using slicing to retrieve specific cells
print(df['B'][2])

       A  B  C
row2  20  2  b
row3  30  3  c
row4  40  4  d
       A  B  C
row2  20  2  b
row3  30  3  c
row4  40  4  d
3
3

/var/folders/qw/3vqmdm5n4f1122_km4rx62540000gn/T/ipykernel_36545/3708973311.py:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df['B'][2])